@model DifferentiallyPrivate.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="viewContent">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");
        <div>
                <div>
                    @Html.TextBoxFor(u => u.UserName, new { placeholder = "Username", @class = "mainTextbox" })
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                <div>
                    @Html.PasswordFor(u => u.Password, new { placeholder = "Password", @class = "mainTextbox" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <input type="submit" value="Log In" class="mainButton"/>
        </div>
    }
</div>