@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DifferentiallyPrivate.Models.MultiChart

<div id="viewContent">
    <h3>Home Charting</h3>

    <script>
        $(document).ready(function () {
            HideLoading();
            HideChartInput();
            $("#deltaInput").hide();
            $(".noiseType").change(function () {//FIX THIS STUFF
                if ($(this).val() == "gaussian") {
                    $("#deltaInput").show();
                }
                else {
                    $("#deltaInput").hide();
                }
            });
        });

        function ShowChartInput() {
            ShowDarkScreen();
            $("#chartInput").show();
        }

        function HideChartInput() {
            HideDarkScreen();
            $("#chartInput").hide();
        }

        function ShowLoading() {
            ShowDarkScreen();
            $("#loadingPanel").show();
        };

        function HideLoading() {
            HideDarkScreen();
            $("#loadingPanel").hide();
        };

    </script>

    <div id="chartsAdded">
        @if (Model.allHomeCharts.Count > 1) //If number of charts is 1, only the new unedited chart exists
        {
            for (int i = 0; i < Model.allHomeCharts.Count - 1; i++) //Trim off new unedited chart model - default values (not added by user)
            {
                <div class="queryListing">
		            <div class="queryHeading">
			            <h4 style="float:left;color:cadetblue;">Chart @Model.allHomeCharts[i].id</h4>
                        @using (Html.BeginForm("ChartingHome", "Chart", FormMethod.Post))
                        {
                            for (int j = 0; j < Model.allHomeCharts.Count - 1; j++)
                            {
                                @Html.HiddenFor(c => Model.allHomeCharts[j].binCount_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].data_cat_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].timespan_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].epsilon_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].iterations_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].queryType_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].noiseType_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].delta_input)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].id)

                                @Html.HiddenFor(c => Model.allHomeCharts[j].data_cats)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].noise_types)
                                @Html.HiddenFor(c => Model.allHomeCharts[j].query_types)
                            }
                            @Html.Hidden("removeId", i)
                            <input type="submit" class="xButton" value="" />
                        }
		            </div>
		            <div class="queryBody">
                        @if (Model.allHomeCharts[i].queryType_input == "avg")
                        {
			                <text>Average query</text>
                        }
                        else
                        {
			                <text>Median query</text>
                        }

                        using @(Model.allHomeCharts[i].noiseType_input).<br />
			            @(Model.allHomeCharts[i].iterations_input) iterations; @(Model.allHomeCharts[i].binCount_input) bins<br/>
			            ε = @(Model.allHomeCharts[i].epsilon_input); δ = @(Model.allHomeCharts[i].delta_input) [Gaussian only]<br/>
			            Category = @(Model.allHomeCharts[i].data_cat_input); Timespan = @(Model.allHomeCharts[i].timespan_input)
		            </div>
	            </div>
            }
        }
        else
        {
            <p>No queries added.</p>
        }
    </div>
    <div style="clear:both"></div>
    
    <input type="button" value="Add Query" onclick="ShowChartInput()" class="mainButton" />
    @using (Html.BeginForm("ChartingHome", "Chart", FormMethod.Get))
    {
        <input type="submit" value="Clear All" class="mainButton" />
    }
    @using (Ajax.BeginForm("ChartingHome", "Chart", new AjaxOptions
    {
        UpdateTargetId = "MainChart",
        OnBegin = "return ShowLoading()",
        OnSuccess = "return HideLoading()"
    }))
    {
        for (int i = 0; i < Model.allHomeCharts.Count - 1; i++)
        {
            @Html.HiddenFor(c => Model.allHomeCharts[i].binCount_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].data_cat_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].timespan_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].epsilon_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].iterations_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].queryType_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].noiseType_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].delta_input)
            @Html.HiddenFor(c => Model.allHomeCharts[i].id)

            @Html.HiddenFor(c => Model.allHomeCharts[i].data_cats)
            @Html.HiddenFor(c => Model.allHomeCharts[i].noise_types)
            @Html.HiddenFor(c => Model.allHomeCharts[i].query_types)
        }
        <input id="submit" type="submit" value="Generate Query Charts" class="mainButton" />
    }
    

    <div id="loadingPanel">
        <img src="~/Content/img/logo.png" width="50px" /><br />
        Generating charts..<br />
        <img src="~/Content/img/ajax-loader.gif" style="margin-top:10px;"/>
    </div>
    
    <div id="chartInput">
        @using (Html.BeginForm("ChartingHome", "Chart", FormMethod.Post))
        {
            //if (Model.allHomeCharts.Count > 1)
            //{
            for (int i = 0; i < Model.allHomeCharts.Count - 1; i++)
            {
                @Html.HiddenFor(c => Model.allHomeCharts[i].binCount_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].data_cat_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].timespan_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].epsilon_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].iterations_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].queryType_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].noiseType_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].delta_input)
                @Html.HiddenFor(c => Model.allHomeCharts[i].id)

                @Html.HiddenFor(c => Model.allHomeCharts[i].data_cats)
                @Html.HiddenFor(c => Model.allHomeCharts[i].noise_types)
                @Html.HiddenFor(c => Model.allHomeCharts[i].query_types)
            }
            @Html.HiddenFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].id)
            //}
            <img src="~/Content/img/logo.png" width="50px" />
            <h4>New Query</h4>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].iterations_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].iterations_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].epsilon_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].epsilon_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].binCount_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].binCount_input, new { @class = "mainTextbox" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].queryType_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].queryType_input,
                                              new SelectList(Model.allHomeCharts[Model.allHomeCharts.Count - 1].query_types, "Value", "Text"))
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].data_cat_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].data_cat_input,
                                              new SelectList(Model.allHomeCharts[Model.allHomeCharts.Count - 1].data_cats, "Value", "Text"))
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].timespan_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].timespan_input,
                                              new SelectList(Model.allHomeCharts[Model.allHomeCharts.Count - 1].timespans, "Value", "Text"))
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].noiseType_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].noiseType_input,
                                              new SelectList(Model.allHomeCharts[Model.allHomeCharts.Count - 1].noise_types, "Value", "Text"),
                                              new { @class = "noiseType" })
                    </td>
                </tr>

                <tr id="deltaInput">
                    <td>
                        @Html.LabelFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].delta_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allHomeCharts[Model.allHomeCharts.Count - 1].delta_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr style="padding-top:10px;">
                    <td>
                        <input type="submit" value="Add" onclick="HideChartInput()" class="mainButton" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" value="Cancel" onclick="HideChartInput()" class="mainButton" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <div id="MainChart">
    </div>  
</div>