@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DifferentiallyPrivate.Models.MultiChart

<div id="viewContent">
    <h3>Simple Charting</h3>

    <script>
        $(document).ready(function () {
            HideLoading();
            HideChartInput();
            $("#deltaInput").hide();
            $(".noiseType").change(function () {
                if ($(this).val() == "gaussian") {
                    $("#deltaInput").show();
                }
                else {
                    $("#deltaInput").hide();
                }
            });


            $(".xButton").mouseover(function () {
                $(this).attr("src", "@Url.Content("~/Content/img/closeS.png")");
            });
            $(".xButton").mouseout(function () {
                $(this).attr("src", "@Url.Content("~/Content/img/closeUS.png")");
            });
            
        });

        function ShowChartInput() {
            ShowDarkScreen();
            $("#chartInput").show();
        }

        function HideChartInput() {
            HideDarkScreen();
            $("#chartInput").hide();
        }

        function ShowLoading() {
            ShowDarkScreen();
            $("#loadingPanel").show();
        };

        function HideLoading() {
            HideDarkScreen();
            $("#loadingPanel").hide();
        };
    </script>

    <!-- Added charts section -->
    @Html.Raw(Html.ValidationMessageFor(x => x).ToString())
    <div id="chartsAdded">
        @if (Model.allCharts.Count > 1) //If number of charts is 1, only the new unedited chart exists
        {
            for (int i = 0; i < Model.allCharts.Count - 1; i++) //Trim off new unedited chart model - default values (not added by user)
            {
                <div class="queryListing">
		            <div class="queryHeading">
			            <h4 style="float:left;color:cadetblue;">Chart @Model.allCharts[i].id</h4>
			            @using (Html.BeginForm("ChartingSimple", "Chart", FormMethod.Post))
                        {
                            //Cache all chart data as hidden fields
                            for (int j = 0; j < Model.allCharts.Count - 1; j++)
                            {
                                @Html.HiddenFor(c => Model.allCharts[j].binCount_input)
                                @Html.HiddenFor(c => Model.allCharts[j].data_input)
                                @Html.HiddenFor(c => Model.allCharts[j].epsilon_input)
                                @Html.HiddenFor(c => Model.allCharts[j].iterations_input)
                                @Html.HiddenFor(c => Model.allCharts[j].queryType_input)
                                @Html.HiddenFor(c => Model.allCharts[j].noiseType_input)
                                @Html.HiddenFor(c => Model.allCharts[j].delta_input)
                                @Html.HiddenFor(c => Model.allCharts[j].id)
                            }
                            @Html.Hidden("removeId", i)
                            <input type="submit" class="xButton" value="" />
                            
                        }
		            </div>
		            <div class="queryBody">
                        @if (Model.allCharts[i].queryType_input == "avg")
                        {
			                <text>Average query</text>
                        }
                        else
                        {
			                <text>Median query</text>
                        }

                        using @(Model.allCharts[i].noiseType_input).<br />
			            @(Model.allCharts[i].iterations_input) iterations; @(Model.allCharts[i].binCount_input) bins<br/>
			            ε = @(Model.allCharts[i].epsilon_input); δ = @(Model.allCharts[i].delta_input) [Gaussian only]<br/>
			            data = {@(Model.allCharts[i].data_input)}
		            </div>
	            </div>
            }
        }
        else
        {
            <p>No queries added.</p>
        }
    </div>
    <div style="clear:both"></div>

    <input type="button" value="Add Query" onclick="ShowChartInput()" class="mainButton" style="margin-top:10px;" />
    @using (Html.BeginForm("ChartingSimple", "Chart", FormMethod.Get))
    {
        <input type="submit" value="Clear All" class="mainButton" />
    }
    @using (Ajax.BeginForm("ChartingSimple", "Chart", new AjaxOptions
    {
        UpdateTargetId = "MainChart",
        OnBegin = "return ShowLoading()",
        OnSuccess = "return HideLoading()"
    }))
    {
        for (int i = 0; i < Model.allCharts.Count - 1; i++)
        {
            //Cache all chart data as hidden fields
            @Html.HiddenFor(c => Model.allCharts[i].binCount_input)
            @Html.HiddenFor(c => Model.allCharts[i].data_input)
            @Html.HiddenFor(c => Model.allCharts[i].epsilon_input)
            @Html.HiddenFor(c => Model.allCharts[i].iterations_input)
            @Html.HiddenFor(c => Model.allCharts[i].queryType_input)
            @Html.HiddenFor(c => Model.allCharts[i].noiseType_input)
            @Html.HiddenFor(c => Model.allCharts[i].delta_input)
            @Html.HiddenFor(c => Model.allCharts[i].id)
        }
        <input id="submit" type="submit" value="Generate Query Charts" class="mainButton" />
    }
    
    <!-- Loading Pane - Only visible during AJAX call to generate charts -->
    <div id="loadingPanel">
        <img src="~/Content/img/logo.png" width="50px" /><br />
        Generating charts..<br />
        <img src="~/Content/img/ajax-loader.gif" style="margin-top:10px;"/>
    </div>

    <!-- Input Pane - Only visible during adding queries -->
    <div id="chartInput">
        @using (Html.BeginForm("ChartingSimple", "Chart", FormMethod.Post))
        {
            for (int i = 0; i < Model.allCharts.Count - 1; i++)
            {
                //Cache all chart data as hidden fields
                @Html.HiddenFor(c => Model.allCharts[i].binCount_input)
                @Html.HiddenFor(c => Model.allCharts[i].data_input)
                @Html.HiddenFor(c => Model.allCharts[i].epsilon_input)
                @Html.HiddenFor(c => Model.allCharts[i].iterations_input)
                @Html.HiddenFor(c => Model.allCharts[i].queryType_input)
                @Html.HiddenFor(c => Model.allCharts[i].noiseType_input)
                @Html.HiddenFor(c => Model.allCharts[i].delta_input)
                @Html.HiddenFor(c => Model.allCharts[i].id)                   
            }
            @Html.HiddenFor(c => Model.allCharts[Model.allCharts.Count - 1].id)
            //}
            <img src="~/Content/img/logo.png" width="50px" />
            <h4>New Query</h4>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].iterations_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allCharts[Model.allCharts.Count - 1].iterations_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].epsilon_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allCharts[Model.allCharts.Count - 1].epsilon_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].binCount_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allCharts[Model.allCharts.Count - 1].binCount_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].data_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allCharts[Model.allCharts.Count - 1].data_input, new { @class = "mainTextbox" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].queryType_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allCharts[Model.allCharts.Count - 1].queryType_input,
                                              new SelectList(Model.allCharts[Model.allCharts.Count - 1].query_types, "Value", "Text"))
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].noiseType_input)
                    </td>
                    <td>
                        @Html.DropDownListFor(c => Model.allCharts[Model.allCharts.Count - 1].noiseType_input,
                                              new SelectList(Model.allCharts[Model.allCharts.Count - 1].noise_types, "Value", "Text"),
                                              new { @class = "noiseType" })
                    </td>
                </tr>

                <tr id="deltaInput">
                    <td>
                        @Html.LabelFor(c => Model.allCharts[Model.allCharts.Count - 1].delta_input)
                    </td>
                    <td>
                        @Html.TextBoxFor(c => Model.allCharts[Model.allCharts.Count - 1].delta_input, new { @class = "mainTextbox" })
                    </td>
                </tr>
                <tr style="padding-top:10px;">
                    <td>
                        <input type="submit" value="Add" onclick="HideChartInput()" class="mainButton" />
                    </td>
                    <td style="text-align:right;">
                        <input type="button" value="Cancel" onclick="HideChartInput()" class="mainButton" />
                    </td>
                </tr>
            </table>
        }
    </div>

    <!-- Chart Pane - always visible, not always populated - target for returned complete charts -->
    <div id="MainChart">
    </div>  
</div>